

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #F2F2F2;
    font-family: "Actor","Arial", sans-serif;
}
h1,h2,h3,a,p{
    margin: 0;
}
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.hero{
    padding: 250px;
}
.father-box{
    margin: 0 auto;
    display: flex;
    width: 680px;
    height: 446px;
}
.left-box{
    width: 276px;
    background-color: #FFD500;
    border-radius: 21.25px 0px 0px 21.25px;
    background-image: url("../img/picture.png");
    background-repeat: no-repeat;
    background-position: calc(30% + 28px) calc(25% + 0px);
    padding: 256px 63px 60px 63px;
}
.left-box::after{
    margin: 0 auto;
    background-image: url("../img/symbol.svg");
    content: "";
    position: absolute;
    background-size: 32px;
    width: 111.88px;
    height: 111.86px;
    background-repeat: no-repeat;
    background-position:  calc(40% + 20px) calc(30% + 10px);
}
.right-box{
    width: 403px;
    background-color: #fff;
    border-radius: 0px 21.25px 21.25px 0px;
    padding: 53px 84px 55px 71px;
}
.right-box-place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.left-title{
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #383838;
    margin-bottom: 10px;
}
.left-text{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #383838;
}
.right-text{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #373D40;
    margin-right: 27px;
}

.right-input{
    background-color: rgba(245, 248, 249, 0.3);
    border: 0.586985px solid #CAD7DD;
    border-radius: 2.64604px;
    width: 190px;
    padding: 8.5px 10px;
}
.male-female-radio{
    display: none;
}
.male-female-label{
    display: flex;
    align-items: center;
}
input, select{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #373D40;
}
.right-input, data{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #B1BFCD;
}
.input-bg::after{
    position: absolute;
    background-image: url("../img/men.svg");
    content: "";
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: calc(5% + 6px) calc(5% + 5px);
}
.input-right-bg::after{
    position: absolute;
    background-image: url("../img/women.svg");
    content: "";
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: calc(5% + 6px) calc(5% + 5px);
}
.input-bg{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #F5F8F9;
}

.male-female-label > input:checked + .input-bg{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #636060c2;
}
.male{
    margin-left: 11px;
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #B1BFCD;
}

.male-female-label-female{
    margin-right: 30px;
}
.right-box-place:nth-child(3){
    margin-bottom: 10px;
}
.right-box-place:nth-child(4){
    margin-bottom: 10px;
}
.right-box-place:nth-child(5){
    margin-bottom: 10px;
}
.right-input,::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #B1BFCD;
}
.card-radio{
    display: none;
}
.card-input-bg{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #C7C7C7;
}
.card-input-bg::after{
    position: absolute;
    background-image: url("../img/card.svg");
    content: "";
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: calc(10% + 6px) calc(20% + 5px);
}
.card-text{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #373D40;
    margin-left: 11px;
}
.card-label{
    display: flex;
    align-items: center;
}
.card-label > input:checked + .card-input-bg{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid #636060c2;   
}
.right-box-button{
    display: flex;
    justify-content: flex-end;
}
.first-button{
    border: none;
    background: #F5F8F9;
    border-radius: 2.64604px;
    padding: 9px 25px;
    margin-right: 10px;
}


.button-text{
    font-style: normal;
    font-weight: 400;
    font-size: 7.4089px;
    line-height: 9px;
    display: flex;
    align-items: flex-end;
    color: #373D40;
}
.button-end{
    background-color: #60E6C5;

}
.button-text-end{
    color: #FFFFFF;

}